@keyframes record-spin {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(360deg);
          }
}

@keyframes record-swap {
          0% {
            transform: scale(1);
            /*transform: scale(1);*/
          }
          25% {
            transform: rotate(720deg);
            transform: scale(1.1);
            margin-top: 5vh;
            /*transform: scale(1.1);*/
          }
          50% {
            transform: rotate(720deg);
            margin-top: -105vh;
            transform: scale(1.1);
          }
          75% {
            transform: rotate(720deg);
            margin-top: 5vh;
            transform: scale(1.1);
          }
          100% {
            transform: rotate(0deg);
            transform: scale(1.0);
          }
}

@keyframes needle-move {
            from {
                transform: rotate(135deg);
            }

            to {
                transform: rotate(160deg);
            }
}


/*Goblal*/

* {
    font-family: sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
/*    background: linear-gradient(#5599FF, #3355FF);*/
    background-size: cover;
}
main {
    position: fixed;
    width: 50%;
    height: 85%;
    left: 25%;
    top: -20%;
    overflow: hidden;
    /*background: radial-gradient(#000, #222); */
    background-image: repeating-linear-gradient(45deg, #333, #333 65%, transparent 65%, transparent 75%);
}
#background-fill {
    background: linear-gradient(-258deg, #1a35ba, #5599FF, #3355FF, #4f74d6,#5599FF, #1a35ba 75%);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.play {
    animation-play-state: running;
}
.pause {
    animation-play-state: paused;
}
.spin {
    animation-duration: 10s;
    animation-name: record-spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
#record-container {
    margin: 0px auto;
    position: relative;
    margin-top: 5vh;
    width: 75vh;
    height: 75vh;
    transition: all 0.5s ease;
}
.swap {
    animation-duration: 4s;
    animation-name: record-swap;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-play-state: running;
}
#record {
    height: 100%;
    width: 100%;
    pointer-events: none;
}
#album-art {
    position: absolute;
    border-radius: 50%;
    top: 19vh;
    left: 19vh;
    width: 35vh;
    height: 35vh;
    border: 0.5vw solid #000;
    pointer-events: none;
}
#needle {
    position: absolute;
    height: 29vh;
    bottom: -28vh;
    left: -8vw;
    transition: all 0.5s ease;

    /*transform: rotate(135deg);*/
    transform: rotate(160deg);
    transform-origin: top right;
    animation-duration: 240s;
    animation-name: needle-move;
    animation-timing-function: linear;
    pointer-events: none;
}




/* Logo text */

main h1 {
    color: rgba(255,255,255,0.55);
    text-shadow: 5px 5px 5px rgba(2, 10, 36, 0.95);
    font-size: 80px;
    text-align: center;
    position: relative;
    top: 18%;
    z-index: 100;
}


/* Aside:  Search and Vote */

aside {
    position: fixed;
    background-color: #333;
    height: 100%;
    width: 25%;
}

aside h2 {
    color: white;
    display: block;
    background-color: #3355FF;
    margin: 0px;
    padding: 5px 10px 5px;
    height: auto;
}

aside h2 span {
    font-size: 17px;
    display: block;
    margin: 0px;
    padding: 5px 10px 5px 0;
    background-color: #3355FF;
}

aside h3, aside h4 {
    color: black;
    margin: 0px;
    padding: 5px;
}

aside p {
    color: #3355FF;
    float: right;
    margin: 0 1% 3% 0;
}


/* Both Vote  Chat and Search Fields */

/* The Search Results and Vote List */

#queue div,
#playback-bar div,
#chat div,
#search-container div {
    background-color: #ccc;
    background: linear-gradient(#EEE, #CCC);
    margin: 0px;
    padding: 5px;
    height: calc(10vh - 10px);
    transition: all 0.5s ease;
    overflow: hidden;
}
#queue div {
       height: calc(12vh - 10px);
}
#playback-bar div {
      height: calc(6vh - 10px);
}
/* The images of Search Results, Vote List and Current Play List */
#queue img,
#playback-bar img,
#search-container img {
    height: 8vh;
    width: 8vh;
    float: left;
    padding-right: 8px;
    margin:  1px 0  0 3px;
    background-size: cover;
}
#queue img {
    margin:  3.3% 0  0 3px;
}


/* add-buttuon is for Search Results, and other two-buttons are for Vote List*/
.add-button,
.Plus-button,
.Minus-button {
    height: 3vh !important;
    width: 3vh !important;
    float: right !important;
    padding: 7px !important;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 10px;
}

#queue img.Plus-button,
    #queue img.Minus-button {
        margin-top: -3%;
}

#search-container img.add-button   {
    margin:  13px 0  0 3px ;
}

/* Search Field */

#search-container {
    margin-top: 3.5vh;
    overflow-y: scroll;
    height: 39vh;
    overflow-x: hidden;
}

#search-field {
    width: calc(100% - 20px);
    padding: 10px 10px;
    font-size: 18px;
    color: crimson;
}

#search-container .add-button:hover,
.Plus-button:hover,
.Minus-button:hover {
    background: url(img/sign2.svg);
    background-size: 3.5%;
}

/* Search input field text */

#search-container h4,
aside h4 {
    font-size: 13px;
}

#search-field::-webkit-input-placeholder {
  font-size: 17px;
}

#search-field:-moz-input-placeholder {
  font-size: 17px;
}

/* Status Field */
#chat p {
  color: rgb(213, 10, 34);
  float: left;
}

/* Vote Field */

#queue {
    overflow-y: scroll;
    height: 44.2%;
}
#queue-container {
    left: 0%;
}
#queue h4 {
    width: 70%;
    display: inline-block;
}

/* Current Play List */

#playback-bar {
    min-height: 15%;
    max-height: 45%;
    width: 50%;
    margin: 0px auto;
    color: #fff;
    padding-left: 1%;
    background-color: #c4cce3;
    background: linear-gradient(#c4cce3, #042a9d);
    position: fixed;
    bottom: 0%;
    left: 25%;
}

#playback-bar img {
    height: 4vh;
    width: 4vh;
}

#playback-bar h4 {
  color: rgb(16, 48, 182);
  margin-top: 1%;
}
#playback-bar p {
  display: none;
}


@media screen and (max-width: 1200px) {
    #queue h4 {
        display: none;
    }
    aside p {
        float: left;
        margin: 10% 1% 3% 0;
    }
    #queue img.Plus-button,
    #queue img.Minus-button {
        margin-top: 8%;
    }
}

/* Others */

form {
    height: 4vh;
}
input {
    width: 100%;
    height: 100%;
}

#video-placeholder {
    /*z-index: 5;*/
    position: fixed;
    right: 0px;
}

/* chat */
#chat-container {
    left: 75%;
}
#chat {
    overflow-y: scroll;
    height: 94.2%;
}
